{% extends 'base.html.twig' %}

{% block title %}{{ news.title }}{% endblock %}

{% block body %}
    <h1>{{ news.title }}</h1>

    <p>
        URL: {{ news.slug }}<br />
        Дата создания: {{ news.created }}
    </p>

    <hr>

    <p>
        {{ news.text }}
    </p>

    <p><a href="/">На главную</a></p>
{% endblock %}